.myWork{
    max-width: 750px;
    margin: 50px auto;
    display: flex;
    background: #202020;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    @media (max-width: 660px) {
        justify-content: center;
        max-width: 320px;
    }
    .myWork_images{
        @media (max-width:660px){
            position: relative;
            width: 0px;
        }
        @media (max-width:340px){
            display: none;
        }
        img{
            width: 300px;
        }
    }
    .myWork_text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px;
        @media (max-width:660px){
            max-width: 300px;
            background-color: rgba(0, 0, 0, 0.521);
            backdrop-filter: blur(3px);
        }
        @media (max-width:340px){
            height: 450px;
            background-color: rgba(88, 88, 88, 0.521);
        }
        h2{
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
        }
        p{
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 16px;
            line-height: 27px;
            color: #D2D2D2;
            
        }
        .point{
            display: flex;
            justify-content: space-between;
            p{
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                padding: 4px 9px;
                background-color: #EA8C1E;
                border-radius: 3px;
            }
        }
    }
    .myWork_open{
        display: flex;
        justify-content: flex-end;
        button{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
            padding: 8px 13px;
            background: #3137C9;
            box-shadow: 0px 4px 15px -7px rgba(48, 55, 201, 0.3);
            border-radius: 5px;
            border: 0;
            transition: 0.5s;
            &:hover{
                scale: 1.06;
            }
        }
    }
}