.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    .avatar{
        position: relative;
        height: 60px;
        img{
            position: absolute;
            bottom: -30px;
            left: -60px;
            width: 128px;
            height: 128px;
        }
    }
    .initial{
        text-align: center;
        padding-top: 20px;
        h4{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
        }
        p{
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: #DEDEDE; 
            padding-top: 3px;
        }
    }
    .contacts{
        padding: 18px 0 30px;
        img{
            cursor: pointer;
            margin: 0 7.5px;
            transition: .3s;
            &:hover {
                scale: 1.3;

            }
        }
    }
    .description{
        border-bottom: 1px solid #1C1C1C;
        border-top: 1px solid #1C1C1C;
        padding: 30px 0;
        text-align: center;
        p{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
        }
    }
    .buttons{
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        button{
            width: 120px;
            padding: 13px 0;
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            background: #ED3024;
            box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
            border: 0;
            border-radius: 25px;
            color: #FFFFFF;
            transition: .5s;
            &:hover{
                scale: 1.07;
                box-shadow: 0px 10px 20px -10px rgba(255, 0, 0, 0.582);;
                font-size: 13px;
            }
            &:nth-child(2){
                background: #3137C9;
                box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
                border-radius: 25px; 
                &:hover{
                    scale: 1.07;
                    box-shadow: 0px 10px 20px -10px rgba(0, 72, 255, 0.674);
                }
            }
        }
    }

}